<!doctype html>
<html lang = 'en'>
  <head>
    <meta charset = "utf-8">
    <meta name = "description" content = "a page for entering your location">
    <title> Pizza Main Page </title>
    <link rel="stylesheet" type="text/css" href="../Styles/pizza_index_style.css">
  </head>
  <body>
    <h1>Touch Pizza, <br> Get Pizza</h1>

      <p>
      Finally, touch the pizza and get some pizza:
      </p>

      <input type="image" src="../Images/pizza_image.png" name="clickPizza" class="pizza_image1" onclick="pizzaClick()"/><br>

    <script src="../Scripts/pizza_script.js"></script>
  </body>
</html>