<!doctype html>
<html lang = 'en'>
  <head>
    <meta charset = "utf-8">
    <meta name = "description" content = "a page for entering your location">
    <title> Pizza Main Page </title>
    <link rel="stylesheet" type="text/css" href="static/Styles/pizza_signup_style.css">
  </head>
  <body>
    <h1>Touch Pizza, <br> Get Pizza</h1>

      <img src="static/Images/pizza_image.png" name="clickPizza" class="pizza_image"/>

      <br>

      <p>
      Log-In
      </p>


      <div class="signUp">
        <form action="">
        <div class="signUp1">
        Email:
        </div>
        <input type="text" name="Email" Placeholder="Username" value="{{ request.form.username }}">
        
        <div class="signUp1">
        Password:
        </div>
        <input type="text" name="Password" Placeholder="Password" value="{{ request.form.password }}">
        <br><br>
        <input type="submit" value="Submit">
        </form> 
      </div>

    <script src="static/Scripts/pizza_script.js"></script>
  </body>
</html>