{% extends "base.html" %}
{% block content %}

<br>

<p>
Log-In
</p>


<div class="logIn">
<form action="" method="post">
<div class="logIn1">
Email:
</div>
<input type="text" name="username" placeholder="Username" value="{{ request.form.username }}">

<div class="logIn1">
Password:
</div>
<input type="password" name="password" placeholder="Password" value="{{ request.form.password }}">
<br><br>
<input class="btn btn-default" type="submit" value="Login">
</form> 
<a href="signup">
   <input type="button" value="Sign Up" />
</a>

{% endblock %}