{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}

<br>

<p>
Log-In
</p>


<div class="logIn">
<form action="/login" method="post">
<div class="logIn1">
</div>
{{ form.hidden_tag() }}
{{ wtf.form_field(form.username) }}

<div class="logIn1">
</div>
{{ wtf.form_field(form.password) }}
{{ wtf.form_field(form.remember) }}
<br><br>
<input class="btn btn-default" type="submit" value="Login">
</form>
<a href="signup">
   <input type="button" value="Sign Up" />
</a>

{% endblock %}
